//- loginPage.pug

doctype html
html(dir="ltr", lang="en-US")
	head
		meta(http-equiv="content-type", content="text/html; charset=utf-8")
		meta(name="author", content="Sedona Web Services")
		style
			include style.css	
	body
		.container
			form(action="/" method="post")
				p(align='center')
					img(src="https://user-images.githubusercontent.com/10162347/85527565-370e6b80-b5c8-11ea-9c55-c7d262ccdc14.png", height="128px", width="128px", align="center")
				h1 Login to dPi
				.form-content
					input(type="text" id="PPU1" name="PPU1" placeholder="username")
					input(type="password" id="PPP1" name="PPP1" placeholder="password")
					br
					input.button(type="submit" value="Submit") 